<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{#username}}
    <h1>you are logged in as: {{username}}</h1>
    {{/username}}
    <h1>welcome</h1>

    <a href="/login">login</a>

  </body>
</html>
