<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>signup</title>
  </head>
  <body>
    <form class="" action="/signup" method="post">
      <input type="text" name="username" value="" placeholder="new username">
      <input type="text" name="password" value="" placeholder="new password">
      <button type="submit" name="button">submit</button>
    </form>
  </body>
</html>
